<div class="summary-container">
  <h2 class="summary-heading">Summary</h2>
  <div class="summary-content">
    <p class="summary-text">
      I'm Pulkit Sharma, a highly motivated and detail-driven B.Tech graduate in
      Computer Science and Engineering. With a solid foundation in software
      development, I excel in problem-solving and thrive in collaborative
      environments. I'm passionate about staying current with cutting-edge
      technologies and actively seeking opportunities to contribute to
      innovative projects that drive impact. Let's connect and explore how my
      skills and enthusiasm can align with exciting opportunities!
    </p>
  </div>
</div>
