<!-- <mat-toolbar color="primary" class="header-toolbar">
  <img src="assets/profile_pic.jpg" alt="Profile Picture" class="profile-pic" />
  <span class="name">{{ name }}</span>
  <span class="spacer"></span>
  <span class="job-title">{{ jobTitle }}</span>
  <span class="contact-info">{{ contactInfo }}</span>
</mat-toolbar> -->

<div class="header">
  <div class="profile-pic">
    <img src="/profile_pic.jpg" alt="Profile Picture" />
  </div>
  <div class="header-text">
    <h1>Pulkit Sharma</h1>
    <h2>Angular Developer</h2>
  </div>
</div>
