<div class="resume-container">
  <app-header @fadeInOut></app-header>
  <div class="resume-content">
    <div class="left-column" @fadeInOut>
      <app-contact></app-contact>
      <app-skills></app-skills>
      <app-education></app-education>
      <app-contact-form></app-contact-form>
    </div>
    <div class="right-column" @fadeInOut>
      <app-summary></app-summary>
      <app-experience></app-experience>
      <app-portfolio></app-portfolio>
      <app-hobbies></app-hobbies>

      <!-- <app-location-map></app-location-map> -->
    </div>
  </div>
</div>
<app-dynamic-pdf @fadeInOut></app-dynamic-pdf>
<router-outlet></router-outlet>
