<div class="education-container">
  <h2 class="education-heading">Education</h2>
  <div class="education-list">
    <mat-card
      class="education-card"
      *ngFor="let edu of education"
      (click)="openEducationDetails(edu)"
    >
      <mat-card-title>{{ edu.degree }}</mat-card-title>
      <div class="card-subtitle-container">
        <mat-card-subtitle (click)="onDateClick(edu)">
          {{ edu.institution }} - {{ edu.graduationDate }}
        </mat-card-subtitle>
        <mat-card-subtitle class="education-grade">
          Grade: {{ edu.grade | number : "1.1-1" }}
        </mat-card-subtitle>
      </div>
    </mat-card>
  </div>
</div>
