.section-title {
    font-size: 24px;
    color: #b64645;
    margin-bottom: 15px;
    text-transform: uppercase;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
  }
  



.skills {
    margin-bottom: 30px;
  }
  
 
  
  .skill-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .skill-item {
    width: 48%;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .skill-item:hover {
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .skill-name {
    font-size: 16px;
    font-weight: bold;
    color: #555;
  }
  
  .skill-rating {
    display:flex;
    flex-direction: column;
    align-items: center;
    color: gold;
  }
  
  .star-icon {
    font-size: 20px;
    margin-left: 2px;
  }
  
  .rating-text {
    font-size: 14px;
    color: #333;
    margin-left: 5px;
  }
  